{% extends "blog/layout.html" %}
{% block content %}
      <article class="media content-section">
       <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
       <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted |date:"F d Y" }}</small>
        </div>
           {% if object.author == user %}
               <a  class="btn btn-secondary" href="{% url 'post-update' object.id %}"> Update</a>
               <a  class="btn btn-danger" href="{% url 'post-delete' object.id %}"> Delete</a>

           {% endif %}
        <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>
{% endblock %}